@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f7f7f7;
}

.menu-btn{
    @apply w-10 h-10 grid place-items-center bg-zinc-50/100 hover:bg-zinc-50/90 rounded-xl
}
.navbar.active{
    @apply opacity-100 scale-100 blur-0 visible
}
.nav-link{
    @apply grid items-center px-4 py-3 text-sm font-medium text-gray-600 hover:text-gray-500 transition-colors
}
.nav-link.active{
    @apply text-[#7eb895] duration-300
}


.text-shpere {
    @apply w-full mx-auto flex justify-center items-center
}

.tagcloud {
    @apply inline-block top-0 left-0 font-bold md:text-[1.3em] text-sm tracking-[0.0625em]
}


.tagcloud--item {
    color: #7eb895;
    text-transform: uppercase;
}

.tagcloud--item:hover {
    color: #4b5563;
}
